@charset 'UTF-8';

h1, h2, h3, h4, p{
  text-align: center;
  color: black;
}

h1.tk{
  color: blue;
  font-size: 50pt;
  text-align: center;
}

h2.jogos{
  font-size: 35pt;
  margin-bottom: 20px;
}

h2{
  font-size: 20pt;
}

h3{
  font-size: 15pt;
}

.img-jogos{
  width: 100%;
  height: 100vh;
}

.button-center{
  width: 100%;
  height: 30pt;
  margin-bottom: 50px;
}

a{
  font-size: 17pt;
}

